[submodule "TTV_Notifications"]
	path = TTV_Notifications
	url = https://github.com/taloncjones/TTV_Notifications.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/taloncjones/Tools.git
[submodule "AutomateTheBoringStuff"]
	path = AutomateTheBoringStuff
	url = https://github.com/taloncjones/AutomateTheBoringStuff.git
[submodule "EAAccountCreator"]
	path = EAAccountCreator
	url = https://github.com/taloncjones/EAAccountCreator.git
