[submodule "Mini_TTV"]
	path = Mini_TTV
	url = https://github.com/taloncjones/Mini_TTV.git
[submodule "Tools"]
	path = Tools
	url = https://github.com/taloncjones/Tools.git
[submodule "AutomateTheBoringStuff"]
	path = AutomateTheBoringStuff
	url = https://github.com/taloncjones/AutomateTheBoringStuff.git
[submodule "EAAccountCreator"]
	path = EAAccountCreator
	url = https://github.com/taloncjones/EAAccountCreator.git
